* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #1E1E1E;
    color: white;
}
.adding {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: space-around;
}

.cat{
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-radius: 19px;
    border-color:gray;
}

.cat_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.table{
    padding: 10px;
}
table, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

button:hover{
    cursor: pointer;
}

.nav_bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
    border-bottom: gray;
    border-bottom: solid;
}