{% extends "base.html" %}
    {%block head%}
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/edit_task.css')}}">
    {%endblock%}
    {%block body%}
        <section class = "edit_task">
            <div class = "edit_task_form">
                <form method = "POST" action="{{ url_for('edit_task', id = task_to_edit.id) }}" autocomplete="off">
                    <input type = "text" name = "new_task" placeholder="Edit Name">
                    <input type = "date" name = "new_date">
                    <button type = "submit"> Edit Task </button>
                </form>
            </div> 
        </section>
    {%endblock%}