{% extends "base.html" %}
    {% block head %}
        <title>To Do List</title>
        <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/to_do_list.css')}}"">
    {% endblock %}
    {% block body %}
        <section class = "nav_bar">
            <button id="Calendar"> Calendar </button>
            <button id="Journal"> Journal </button>
        </section>
        <section class = "adding">
            <div class = "add_task">
                <div class = "input">
                    <form> 
                        <button id = "add_task" type="button"> Add Task </button> 
                    </form>
                </div>
            </div>
            <div class = "add_cat">
                <div class = "input">
                    <form> 
                        <button type="button" id = "add_cat">Add Category</button>
                    </form>
                </div>
            </div>
        </section>

        <section class = "categories">
            {% for category, tasks in tasks_by_category.items() %}
                <div class = "cat">
                    <div class="cat_header">
                        <h3>{{category.name}}</h3> 
                        <form method = "GET" action = "{{ url_for('edit_category', id = category.id) }}">
                            <button type = "submit" name = "edit">Edit</button>
                        </form>
                        <form method = "POST" action = "{{ url_for('delete_category', id = category.id) }}">
                            <button type = "submit" name = "delete">Delete</button>
                        </form>
                    </div>
                    <div class = "table">
                        <table>
                            <tr>
                                <th>Task</th>
                                <th>Due</th>
                                <th>Edit/Delete</th>
                            </tr>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{task.name}}</td>
                                    <td>{{task.date}}</td>
                                    <td>
                                        <form method = "GET" action = "{{ url_for('edit_task', id=task.id) }}">
                                            <button type = "submit" name = "edit">Edit</button>
                                        </form>
                                        <br>
                                        <form method = "POST" action = "{{ url_for('delete_task', id=task.id) }}">
                                            <button type = "submit" name = "delete">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
        </section>
        <script src="{{ url_for('static', filename='js/to_do_list.js')}}"></script>
    {% endblock %}
